<!--
Author: Kantus
Date: 09/22/2023
Updates: This html is created by me to show the graphs of each evaluation.
-->

{%include "aheader.html" %}

    
    <!-- ################# Our Team Starts Here#######################--->

      <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Performance Evaluations</h2>
                       </div>
                   </div>
               </div>

    

   

<center>
<table width="100%">

    <tr><td><img src="{{ url_for('static',filename='accuracy.png')}}"  width="500" alt=""></td>

    <td><img src="{{ url_for('static',filename='precision.png')}}"  width="500" alt=""></td>
    </tr>
    <tr><td><img src="{{ url_for('static',filename='recall.png')}}" width="500" alt=""></td>

    <td><img src="{{ url_for('static',filename='f1score.png')}}" width="500" alt=""></td>
    </tr>

    </tr>
</table>


<br>




  <br>
       

        <!-- ######## Gallery End ####### -->
{%include "footer.html" %}
    

   
    <!-- ################# Footer Starts Here#######################--->

